<!--
  ~ Copyright (c) 2018.  MobileID project
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.kreolab.mobileidsharedlibrary" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>
